{% load md5url %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - ProjectWikit</title>

    <link rel="stylesheet" type="text/css" href="{% md5url "fontawesome/css/all.css" %}">
    <link rel="stylesheet" type="text/css" href="{% md5url "wikidot-base.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">

    <script src="{% md5url "app.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% md5url "system.css" %}">
    <link rel="stylesheet" type="text/css" href="{% md5url "wikit-tokens.css" %}">
    <link rel="stylesheet" type="text/css" href="{% md5url "wikit-shell.css" %}">

    {% if site_system_theme_url %}<link rel="stylesheet" type="text/css" href="{{ site_system_theme_url }}">{% endif %}

    {% block head %}{% endblock %}
</head>
<body class="system {% block body_class %}{% endblock %}">
    <div class="system-container">
        {% block back_link %}
        <a class="back-link" href="/"><span class="fa fa-arrow-left"></span> 返回网站首页</a>
        {% endblock %}
        <div class="system-content">
            {% block before %}{% endblock %}
            <div class="heading">
                <h1 id="title">{% block h1 %}{% endblock %}</h1>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <div id="w-modals"></div>
</body>
</html>
