{% extends "system_base.html" %}

{% block h1 %}{% block title %}登录账号{% endblock %}{% endblock %}


{% block content %}
    <div class="login-form">
        {% if error %}
            <div class="error">
                <p>{{ error }}</p>
            </div>
            <br>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="text-input">
                <span class="icon begin">
                    <i class="fas fa-user"></i>
                </span>
                <input type="text" placeholder="用户名" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
            </div>
            <div class="text-input">
                <span class="icon begin">
                    <i class="fas fa-lock"></i>
                </span>
                <input type="password" placeholder="密码" name="password" autocomplete="current-password" required id="id_password">
            </div>
            <button class="btn btn-primary" type="submit">登录</button>
        </form>
        <div class="under-text">
            <a href="{% url "password_reset" %}">忘记密码?</a>
        </div>
    </div>
{% endblock %}