{% extends "system_base.html" %}


{% block h1 %}{% block title %}{% if validlink %}设置新密码{% else %}无效链接{% endif %}{% endblock %}{% endblock %}


{% block content %}
    <div class="login-form">
        {% if validlink %}
            {% if form.errors %}
                <div class="error">
                    <p>输入的密码不符合要求，请重试。</p>
                </div>
                <br>
            {% endif %}
            <p>请输入新密码。</p>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn" type="submit">提交</button>
            </form>
        {% else %}
            您点击的链接似乎已失效，请重试。
        {% endif %}
    </div>
{% endblock %}